<ilpn-page-layout>
    <h2>
        Validate a run in a Petri net - This algorithm is published at <br>
        <i>Verification of scenarios in Petri nets using compact tokenflows</i> by R. Bergenthum, R. Lorenz in Fundamenta Informaticae 2015.<br>
        It solves the following problem:<br>
        Let PN be a Petri net and RN be a run. Check if RN ∈ L(PN) holds.
    </h2>
    <hr>

    <div fxLayout="row wrap" fxLayoutAlign="space-evenly start">
        <ilpn-file-upload [descriptionText]="'drop a labeled Petri net file here'" [fileDisplay]="FD_PN" [showText]="petriNet === undefined" (fileContent)="parsePN($event)"></ilpn-file-upload>
        <ilpn-file-upload [descriptionText]="'drop a partial order file here'" [fileDisplay]="FD_PO" [showText]="partialOrder === undefined" (fileContent)="parsePO($event)"></ilpn-file-upload>
        <ilpn-file-download [descriptionText]="'download validate result'" [squareContent]="'🐇'" [disabled]="resultFile === undefined" [files]="resultFile"></ilpn-file-download>
    </div>

    <hr>
    <h2>The algorithm is implemented as follows:</h2>
    <div fxLayout="row" fxLayoutAlign="center start">
        <pre>
            <code class="code">
INPUT marked p/t-net (P,T,W,m0), run (V,<,l)
01 for each p ∈ P do
02    G := associated flow network (P,T,W,m0),(V,<,l),p
03    x := sum of capacities of arcs leading to the sink of G
04    w := pre-flow-push of G
05    if (w < x) Pnvalid add p
OUTPUT Pnvalid
            </code>
        </pre>
    </div>

    <hr>
    <h2>download examples</h2>
    <div fxLayout="row wrap">
        <ilpn-descriptive-link [fileDisplay]="FD_PN" title="Petri net" description="get yourself a simple example Petri net" link="assets/pn.txt" [download]="true"></ilpn-descriptive-link>
        <ilpn-descriptive-link [fileDisplay]="FD_PO" title="run" description="get yourself a simple example run" link="assets/run.txt" [download]="true"></ilpn-descriptive-link>

        <ilpn-descriptive-link [fileDisplay]="FD_PN" title="satellite memory" description="from the famous Model Checking Contest" link="assets/net_SatelliteMemoryX100Y3.txt" [download]="true"></ilpn-descriptive-link>
        <ilpn-descriptive-link [fileDisplay]="FD_PO" title="satellite memory" description="from the famous Model Checking Contest" link="assets/run_SatelliteMemoryX100Y3.txt" [download]="true"></ilpn-descriptive-link>

        <ilpn-descriptive-link [fileDisplay]="FD_PN" title="discovery contest" description="from the famous Process Discovery Contest" link="assets/net_pdc1111110.txt" [download]="true"></ilpn-descriptive-link>
        <ilpn-descriptive-link [fileDisplay]="FD_PO" title="discovery contest" description="from the famous Process Discovery Contest" link="assets/run_pdc1111110.txt" [download]="true"></ilpn-descriptive-link>
    </div>

</ilpn-page-layout>
