<ilpn-page-layout>
    <h2>
        Validate a run in a Petri net - This algorithm is published at <br>
        <i>Verification of scenarios in Petri nets using compact tokenflows</i> R. Bergenthum, R. Lorenz - <i>Fundamenta Informaticae, 2015</i>.<br>
        It solves the following problem:<br>
        Let PN be a Petri net and RN be a run. Check if RN ∈ L(PN) holds.
    </h2>
    <hr>

    <div fxLayout="row" fxLayoutAlign="space-evenly start">
        <ilpn-file-upload [descriptionText]="'drop a labeled Petri net file here'" [fileDisplay]="fdPN" [showText]="petriNet === undefined" (fileContent)="parsePN($event)"></ilpn-file-upload>
        <ilpn-file-upload [descriptionText]="'drop a partial order file here'" [fileDisplay]="fdPO" [showText]="partialOrder === undefined" (fileContent)="parsePO($event)"></ilpn-file-upload>
        <ilpn-file-download [descriptionText]="'download validate result'" [squareContent]="'🐇'" [disabled]="resultFile === undefined" [files]="resultFile"></ilpn-file-download>
    </div>

</ilpn-page-layout>
